@media screen and (max-width:768px){
    .container {
        padding: 0 30px;
    }
    .menu {
        position: absolute;
        right: 0;
        top: 0;
        background-color: #eee;
        height: 100vh;
        padding-top: 100px;
        width: 300px;
        text-align: center;
        transform: translateX(110%);
        box-shadow: -10px 0 20px rgba(0, 0, 0, 0.15);
    }

    .menu.active {
        transform: translateX(0);
    }
    .menu-item {
        display: block;
        margin: 20px 0;
    }
    .menu-link {
        color: #333;
    }
    .toggle-icon {
        display: block;
    }
    .close-icon {
        display: block;
    }
}